.btn-primary{
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    padding: 20px;
	width:390px;
	position:absolute;
	left:170px;
	top:350px;
}
.e80_144 { 
	color:rgba(8.846798334270716, 36.821027398109436, 58.4375012665987, 1);
	width:116px;
	height:45px;
	position:absolute;
	left:170px;
	top:165px;
	font-family:Montserrat;
	text-align:center;
	font-size:12px;
	letter-spacing:0.10000000149011612;
	line-height:px;
}
.e80_145 { 
	width:77px;
	height:22px;
	position:absolute;
	left:194px;
	top:200px;
	background-image:url(external/figmaPay/images/1280px_bank_central_asia_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e80_169 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:40px;
	position:absolute;
	left:179px;
	top:238px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0.10000000149011612;
	line-height:px;
}
.e80_171 { 
	color:rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
	width:199px;
	height:40px;
	position:absolute;
	left:239px;
	top:283px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0.10000000149011612;
	line-height:px;
}
.e80_170 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:40px;
	position:absolute;
	left:238px;
	top:259px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0.10000000149011612;
	line-height:px;
}
.e80_173 { 
	color:rgba(230.56249290704727, 16.331508457660675, 16.331508457660675, 1);
	width:202px;
	height:36px;
	position:absolute;
	left:924px;
	top:563px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e80_143 { 
	background-color:rgba(26.000000350177288, 48.000000938773155, 65.0000037252903, 1);
	opacity:0.10999999940395355;
	width:379px;
	height:48px;
	position:absolute;
	left:173px;
	top:188px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
img { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	right:19px;
	top:18%;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
    width: 50%;
}
.e41_219 { 
	color:rgba(0, 0, 0, 1);
	width:545px;
	height:126px;
	position:absolute;
	top:5%;
    margin: auto;
    margin-left: 20%;
	font-family:Inter;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}

nav{
	width: fit-content;
	height: 50px;
}
.e33_1824 { 
	width:41px;
	height:42px;
	position:absolute;
	left:19px;
	top:20px;
	
}
.e33_1825 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_1826 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:21.964284896850586px;
	top:-2.2737367544323206e-13px;
}
.e33_1827 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:-9.094947017729282e-13px;
	top:22.5px;
}
.e33_1828 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:21.964284896850586px;
	top:22.5px;
}
.logout { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	right:19px;
	top:20px;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}