img { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	right:19px;
	top:18%;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
    width: 50%;
}
.e41_219 { 
	width:545px;
	height:126px;
	position:absolute;
	top:5%;
    margin: auto;
    margin-left: 20%;
	font-family:Inter;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}

nav{
	width: fit-content;
	height: 50px;
}
.e33_1824 { 
	width:41px;
	height:42px;
	position:absolute;
	left:19px;
	top:20px;
	
}
.e33_1825 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_1826 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:21.964284896850586px;
	top:-2.2737367544323206e-13px;
}
.e33_1827 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:-9.094947017729282e-13px;
	top:22.5px;
}
.e33_1828 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:21.964284896850586px;
	top:22.5px;
}
.logout { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	right:19px;
	top:20px;
	font-family:Inter;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
/**/

.e2_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e24_142 { 
	width:41px;
	height:42px;
	position:absolute;
	left:19px;
	top:20px;
}
.e24_143 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_144 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:21.964284896850586px;
	top:-2.2737367544323206e-13px;
}
.e24_145 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:-9.094947017729282e-13px;
	top:22.5px;
}
.e24_146 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:19.035715103149414px;
	height:19.5px;
	position:absolute;
	left:21.964284896850586px;
	top:22.5px;
}

.e41_297 { 
	transform: rotate(90.48646708020814deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:59px;
	height:64px;
	position:absolute;
	left:386.49853515625px;
	top:233.54339599609375px;
}
.e41_300 { 
	background-color:rgba(0, 0, 0, 1);
	width:54.876548767089844px;
	height:54.74012756347656px;
	position:absolute;
	left:0.0748172253370285px;
	top:0.19447775185108185px;
}
.e41_301 { 
	background-color:rgba(0, 0, 0, 1);
	width:34.6356086730957px;
	height:2.5456156730651855px;
	position:absolute;
	left:10.160709381103516px;
	top:29.006437301635742px;
}
.e41_302 { 
	background-color:rgba(0, 0, 0, 1);
	width:33.21201705932617px;
	height:2.4329333305358887px;
	position:absolute;
	left:10.263287544250488px;
	top:19.60007095336914px;
}
.e41_303 { 
	background-color:rgba(0, 0, 0, 1);
	width:33.729156494140625px;
	height:2.0555832386016846px;
	position:absolute;
	left:10.419678688049316px;
	top:24.685096740722656px;
}
.e41_304 { 
	background-color:rgba(0, 0, 0, 1);
	width:13.136896133422852px;
	height:2.3553035259246826px;
	position:absolute;
	left:21.133249282836914px;
	top:35.19827651977539px;
}
.e41_333 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:386px;
	top:105px;
	font-family:Montserrat;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e41_334 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:60px;
	top:224px;
	font-family:Montserrat;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
    font-weight: bold;
}
.e41_335 { 
	color:rgba(0, 0, 0, 1);
	width:242px;
	height:93px;
	position:absolute;
	left:180px;
	top:281px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_344 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:180px;
	top:482px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_346 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:602px;
	top:482px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_345 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:180px;
	top:531px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_336 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:360px;
	top:224px;
	font-family:Montserrat;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e41_343 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:180px;
	top:435px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
    font-weight: bold;
}
.e41_338 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:37px;
	position:absolute;
	left:452px;
	top:224px;
	font-family:Montserrat;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
    font-weight: bold;
}
.e41_339 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:555px;
	top:276px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_341 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:37px;
	position:absolute;
	left:743px;
	top:224px;
	font-family:Montserrat;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
    font-weight: bold;
}
.e41_342 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:93px;
	position:absolute;
	left:853px;
	top:274px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_347 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(90.28593689203262, 218.87500405311584, 126.29087448120117, 1);
	width:186px;
	height:51px;
	position:absolute;
	left:607px;
	top:531px;
}
.e41_348 { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:30px;
	position:absolute;
	left:667px;
	top:540px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_349 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:194px;
	height:81px;
	position:absolute;
	left:155px;
	top:650px;
}
.e41_350 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:47px;
	position:absolute;
	left:212px;
	top:675px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e41_351 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:194px;
	height:81px;
	position:absolute;
	left:674px;
	top:650px;
}
.e41_352 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:48px;
	position:absolute;
	left:720px;
	top:675px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e49_138 { 
	color:rgba(0, 0, 0, 1);
	width:367px;
	height:19px;
	position:absolute;
	left:477px;
	top:849px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
